@import 'fonts.scss';
@import 'normalize.scss';

// == VAR ==

%rubik-regular{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-medium{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%rubik-bold{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

// == / VAR ==

// === GLOBAL ===

body{
    @extend %rubik-regular;
    font-size: 24px;
    line-height: 24px;
    background-color: #FFF;
    color: #000;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 5px;
}

.title{
    color: #291247;
    font-size: 35px;
    line-height: 60px;
    @extend %rubik-bold;
    margin: 0px;
}

// === / GLOBAL ===

// === HEADER ===

.header{

    &__logo{
        margin: 0 auto;
        margin-top: 43px;
        max-width: 555px;
        max-height: 285px;

        &-img{
            width: 100%;
        }
    }
}

// === / HEADER ===

// === TOP ===

.top{
    position: relative;

    &::after{
        content: "";
        background: linear-gradient(268.62deg, #FFF3F7 25.85%, #EFD1DC 83.16%);
        height: 364px;
        width: 100%;
        position: absolute;
        top: 100px;
        z-index: -1;
    }

    &__img{
        max-width: 530px;
        max-height: 570px;
    }

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    &__item{
        font-size: 20px;
    }

    &__items li.top__item{
        padding-right: 20px;
        line-height: 60px;
        position: relative;

        &::before{
            content: "";
            background-image: url('../img/like.svg');
            position: absolute;
            width: 35px;
            height: 35px;
            right: -30px;
            top: -7px;
        }
    }

    &__btn{
        max-width: 870px;
        background-color: #C84772;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
        margin-top: 90px;
        transition: all .5s;

        &-link{
            display: block;
            width: 100%;
            padding: 16px 0;
            color: #FFF;
            font-weight: 700;
        }

        &:hover{
            background-color: #e75384;
            transition: all .5s;
        }

        &:active{
            background-color: #ff5b91;
            transition: all .5s;
        }
    }
}

// === / TOP ===

// === SALES ===

.sales{

    &__text{
        display: flex;
        justify-content: center;

        &-content{
            @extend %rubik-bold;
            font-size: 40px;
            line-height: 86px;
            max-width: 635px
        }

        &-numb{
            @extend %rubik-bold;
            font-size: 60px;
            line-height: 35px;
            color: #99C647;
            margin-left: 10px;
            margin-right: 10px;
            white-space: nowrap;
        }
    }

    &__title{
        color: #FFF;
        background-color:#291247;
        border: 1px solid #C84772;
        border-radius: 10px;
        text-align: center;
        max-width: 870px;
        margin: 0 auto;

        &-1{
            font-size: 27px;
            line-height: 75px;
            margin: 0;
        }

        &-2{
            @extend %rubik-bold;
            font-size: 38px;
            margin: 0;
        }

        &-3{
            @extend %rubik-medium;
            font-size: 21px;
            line-height: 75px;
            margin: 0;
        }
    }
}

// === / SALES ===

// === PRICE ===

.prise{
    margin: 120px 0px 94px;

    &__item-sup{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--promo{
            width: 60%;
            padding-left: 10px;
        }

        &--promo-title{
            position: relative;
            padding-right: 65px;
        }

        &--promo-title::before{
            content: "";
            background-image: url(../img/icon__price.svg);
            background-repeat: no-repeat;
            width: 42px;
            height: 42px;
            right: 0;
            top: 5px;
            position: absolute;
        }

        &--promo-lable{
            // width: 870px;
            background-color: #FFD5D3;
            border: 1px solid #C84772;
            border-radius: 10px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            color: #291247;
            @extend %rubik-bold;
            font-size: 30px;
            line-height: 40px;
            margin-top: 33px;
            padding-right: 25px;

            &--text{
                display: block;
            }

            &--wrapper{
                margin-right: 25px;
                max-width: 650px;
                max-height: 170px;
                overflow: hidden;
            }
        }

        .prise__item-sup--promo-lable--img{
            width: 137px;
            height: 162px;
            position: relative;

            &-img{
                position: absolute;
                top: -24px;
            }
        }

        &--select{
            // width: 870px;
            border-radius: 10px;
            background-color: #FCFCFC;
            border: 1px solid #D3D3D3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 36px;
            margin-top: 43px;

            &-product p{
                color: #291247;
            }

            &-product--lable{
                display: block;

                &-text{
                    color: #291247;
                    font-size: 34px;
                    line-height: 115px;
                }
            }

            &-product--checkbox{
                display: none;
            }

            &-product--checkbox:checked + .prise__item-sup--select-product--lable-fake::before{
                opacity: 1;
            }

            &-product--lable-fake{
                display: inline-block;
                width: 30px;
                height: 30px;
                border: 3px solid #291247;
                border-radius: 50%;
                position: relative;
                top: 4px;
                margin-left: 15px;

                &::before{
                    content: "";
                    position: absolute;
                    display: block;
                    width: 15px;
                    height: 15px;
                    background-color: #291247;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all .2s;
                    opacity: 0;
                }
            }

            &-price--name{
                @extend %rubik-bold;
                font-size: 35px;
                line-height: 60px;
                margin: 0;
            }

            &-price--text{
                color: #291247;
                line-height: 115px;
                font-size: 34px;
                @extend %rubik-medium;
                margin: 0;
            }
        }

        .stiker{
            position: relative;
        }

        .stiker::before{
            content: "";
            position: absolute;
            background: url(../img/stiker.svg) no-repeat;
            width: 214px;
            height: 64px;
            bottom: 40px;
        }

        .price__item-sup--wrapper{
            width: 50%;
            padding-right: 10px;
        }

        .price__item-sup--additionally-alternative{
            // width: 688px;
            height: 172px;
            background-color: #FCFCFC;
            border: 1px solid #D3D3D3;
            border-radius: 10px;
            color: #291247;
            display: flex;
            padding: 36px;
            margin-top: 33px;
        }

        .price__item-sup--additionally-alternative-select--lable{
            display: block;

        }

        .price__item-sup--additionally-alternative-select--lable-checkbox{
            display: none;
        }

        .price__item-sup--additionally-alternative-select--fake{
            display: inline-block;
            width: 33px;
            height: 33px;
            border-radius: 5px;
            border: 3px solid #323232;
            position: relative;
            top: 7px;
        }

        .price__item-sup--additionally-alternative-select--fake::before{
            content: "";
            position: absolute;
            background-image: url(../img/check.svg);
            display: block;
            width: 35px;
            height: 35px;
            top: -6px;
            left: -6px;
            opacity: 0;
        }

        .price__item-sup--additionally-alternative-select--lable-checkbox:checked + .price__item-sup--additionally-alternative-select--fake::before{
            opacity: 1;
            transition: all .2s;
        }

        .price__item-sup--additionally-alternative-select--text{
            line-height: 56px;
            font-size: 34px;
            margin-right: 43px;
        }

        .price__item-sup--additionally-alternative-price{
            margin-right: 50px;
        }

        .price__item-sup--additionally-alternative-price--numb{
            line-height: 56px;
            font-size: 34px;
            margin: 0;
            @extend %rubik-medium;
        }

        .price__item-sup--additionally-insurance{
            display: flex;
            justify-content: start;
            color: #291247;
            // width: 688px;
            background-color: #FCFCFC;
            border: 1px solid #D3D3D3;
            border-radius: 10px;
            margin-top: 43px;
            padding: 36px;
            height: 100%;

            &--text{
                line-height: 115px;
                font-size: 34px;
                margin: 0;
            }
        }

        .price__item-sup--additionally-insurance--price{
            margin-right: 75px;

            &-numb{
                line-height: 115px;
                font-size: 34px;
                margin: 0;
                @extend %rubik-medium;
            }
        }

        .price__item-sup--additionally-promo-title{
            position: relative;
            padding-right: 50px;
        }
        
        .price__item-sup--additionally-promo-title::before{
            content: "";
            background-image: url(../img/icon__price-2.svg);
            background-repeat: no-repeat;
            width: 32px;
            height: 42px;
            right: 0;
            top: 10px;
            position: absolute;
        }
    }
}

// === price__item-contact ===

.price__item-contact{
    display: flex;
    justify-content: space-between;
   
    &--title{
        position: relative;
        padding-right: 67px;
        margin: 18px 0px 35px;


        &::before{
            content: "";
            position: absolute;
            width: 45px;
            height: 30px;
            right: 0;
            top: 17px;
            background: url(../img/truck.svg) no-repeat;
        }
    }

    &--form{
        width: 60%;
        background-color: #FCFCFC;
        border: 1px solid #D3D3D3;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        padding: 36px;
        margin-left: 20px;

        &-wrapper{

            &--input{
                width: 327px;
                height: 48px;
                background: #FFF;
                border: 1px solid #D3D3D3;
                border-radius: 10px;
                padding: 10px 15px;
                outline: none;
                margin-bottom: 34px;
                position: relative;
                font-weight: 500;
                direction: rtl;

                &::placeholder{
                    color: #291247;
                    position: absolute;
                    right: 15px;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        &-inner{

            &--input{
                width: 327px;
                height: 48px;
                background: #FFF;
                border: 1px solid #D3D3D3;
                border-radius: 10px;
                padding: 10px 15px;
                outline: none;
                margin-bottom: 34px;
                position: relative;
                font-weight: 500;
                direction: rtl;

                &::placeholder{
                    color: #291247;
                    position: absolute;
                    right: 15px;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            } 
        }
    }

    &--label{
        background: #FEFCDC;
        border: 1px solid #D3D3D3;
        border-radius: 10px;
        width: 50%;
        padding: 36px;
        display: flex;
        justify-content: center;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            width: 165px;
            height: 180px;
            right: 15px;
            top: -25px;
            background: url(../img/lable.svg) no-repeat;
        }

        &-price{
            margin-right: 30px;
        }

        &-name--text,
        &-price--text{
            color: #291247;
            @extend %rubik-medium;
            font-size: 34px;
            line-height: 100px;
            text-align: right;
            margin: 0;

            &:nth-child(2){
                color: #D63422;
            }
        }

        &-name--text{
            font-weight: 400;
        }
    }
}



// === / price__item-contact ===

// === price__item-pay ===

.price__item-pay__title{
    position: relative;
    padding-right: 65px;
    margin: 33px 0 53px;

    &::before{
        content: "";
        background: url(../img/card.svg) no-repeat;
        width: 44px;
        height: 30px;
        right: 0;
        top: 15px;
        position: absolute;
    }
}

.price__item-pay{
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    background: #FCFCFC;
    width: 100%;
    padding: 38px 90px;
    margin-bottom: 50px;

    &--wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &--input{
        background: #FFF;
        border: 1px solid #D3D3D3;
        border-radius: 10px;
        width: 425px;
        height: 48px;
        padding: 10px 60px 10px 15px;
        outline: none;
        font-weight: 500;

        &:nth-child(2){
            width: 325px;
        }

        &::placeholder{
            color: #291247;
        }
    }

    &--btn{
        width: 870px;
        height: 56px;
        color: #FFF;
        outline: none;
        border: none;
        margin: 0 auto;
        display: block;
        background-image: url(../img/card-white.svg);
        background-repeat: no-repeat;
        background-position: 67% 50%;
        font-weight: 700;
    }

    &--services{

        &-secured{
            margin: 37px auto;
            width: 207px;
            height: 90px;
            object-fit: cover;
        }

        &-img{
            margin-right: 33px;

            &:last-child{
                margin-right: 0px;
            }
        }

        &-wrapper{
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
        }
    }
}

.cvv__code{
    direction: rtl;
    background: url(../img/cvv-icon.svg) no-repeat;
    background-position: 97% 50%;
    position: relative;

    &::placeholder{
        position: absolute;
        right: 55px;
        top: 6px;
    }
}

.calendar{
    direction: rtl;
    background: url(../img/calendar-icon.svg) no-repeat;
    background-position: 94% 50%;
    position: relative;
    color: #291247;

    &::placeholder{
        position: absolute;
        right: 55px;
        top: 6px;
    }
}

.cvvDate {
    width: 325px;
    height: 48px;
    padding: 0;
    display: none;
    justify-content: space-between;
  }
  .cvvDate.active {
    display: flex;
  }
  .cvvDate select {
    padding: 10px 14px;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    color: #291247;
  }
  #year {
    width: calc(50% - 4px);
    appearance: none;
    background: url(../img/arrow_custom.svg) no-repeat 10% 50%;
  }
  #month {
    width: calc(50% - 4px);
    appearance: none;
    background: url(../img/arrow_custom.svg) no-repeat 10% 50%;
  }

  #inputDate.active {
    display: none;
  }
  
  #inputDate:hover {
    background-color: #ffffff;
  }
  @media (max-width: 1250px) {
    #inputDate,
    .cvvDate {
      width: 275px;
    }
  }
  @media (max-width: 1150px) {
    #inputDate,
    .cvvDate {
      width: 58%;
      margin-bottom: 43px;
    }
  }
  @media (max-width: 700px) {
    #inputDate,
    .cvvDate {
      width: 58%;
      margin-bottom: 0px;
      font-size: 75%;
    }
  }
  @media (max-width: 600px) {
    #inputDate,
    .cvvDate {
      width: 48%;
      font-size: 64%;
    }
  } 
  @media (max-width: 400px) {
    #inputDate,
    .cvvDate {
      width: 100%;
      font-size: 16px;
      margin: 0 0 20px 0;
    }
  } 

.cards{
    direction: rtl;
    background: url(../img/card.svg) no-repeat 40px/32px;
    background-position: 95% 50%;
    position: relative;

    &::placeholder{
        position: absolute;
        right: 60px;
        top: 6px;
    }
}

// === / price__item-pay ===

// === / PRICE ===

// === ADVERTISING ===

.advertising{
    margin-bottom: 82px;

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FEFCDC;
        border: 1px solid #D3D3D3;
        border-radius: 10px;
        max-width: 870px;
        margin: 0 auto;
        margin-bottom: 18px;

        &-title{
            color: #D63422;
            line-height: 56px;
            font-size: 34px;
            @extend %rubik-bold;
            margin-right: 20px;
        }
    }

    &__text{
        display: flex;
        justify-content: center;

        &-content{
            color: #291247;
            font-size: 28px;
            line-height: 45px;
            margin-right: 16px;
        }
    }

    &__user{


        &-img{
            width: 315px;
            height: 294px;
            margin-right: 191px;
            object-fit: cover;
            margin: 0 auto;
            position: relative;
        }

        &-text{
            display: inline-block;
            position: absolute;
            right: -330px;
            bottom: 44px;
            color: #291247;
            line-height: 45px;
            font-size: 28px;
        }
    }

    .advertising__text-img{
        display: inherit;
    }

}

// === / ADVERTISING ===

// === FOOTER ===

ul.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 53px;
}

ul.footer__menu li.footer__menu-item a{
    color: #291247;
    font-size: 28px;
    display: inline-block;
    padding: 5px 10px;

    &:hover{
        color: #391568;
        transform: all .5s;
    }
}

.footer__copy-img{
    width: 153px;
    height: 52px;
    margin: 0 auto;
}

.footer__copy-text{
    margin-bottom: 47px;
    color: #291247;
    font-size: 28px;
    line-height: 45px;
    font-weight: 300;
}

.footer__copy{
    text-align: center;
    margin-bottom: 46px;
}

// === / FOOTER ===


	.timer{
		font-size: 0;
		text-align: center;
	}
	.timer_section{
		display: inline-block;
		vertical-align: top;
	}
	.timer_section > div{
		display: inline-block;
		vertical-align: top;
		font-size: 50px;
		background: #4dadf7;
		color: #ffffff;
		line-height: 70px;
		width: 55px;
		margin: 0 1px;
		border-radius: 2px;
	}
	.timer_section > div.timer_section_desc{
		display: block;
		background: none;
		color: inherit;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 30px;
		width: auto;
		margin: 0;
	}
	.timer_delimetr{
		display: inline-block;
		vertical-align: top;
		font-size: 50px;
		line-height: 70px;
		margin: 0 5px;
	}
	@media (max-width: 767px){
		.timer_section > div{
			font-size: 30px;
			width: 30px;
			line-height: 40px;
		}
		.timer_delimetr{
			line-height: 40px;
			font-size: 30px;
		}
		.timer_section > div.timer_section_desc{
			font-size: 14px;
			line-height: 26px;
		}
	}

    .countdown{
        background: #D63422;
        color: #FFF;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        text-align: center;
        padding: 36px 0;

        &__wrapper{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            margin-right: 10px;
            line-height: 46px;
            font-size: 28px;
            @extend %rubik-medium;
        }

        &__text{
            margin: 0;
            line-height: 46px;
            font-size: 28px;
            @extend %rubik-medium;
        }

        &__text span{
            display: block;
            padding-right: 120px
        }
    }


    @import 'media.scss';